html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.receiver {
  padding-bottom: 20px !important;
}
.receiver.disabled {
  background-color: #fafafa;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/* Primary content area */
.open-warning {
  background-color: #F26D6D;
  color: #fff;
}
.open-warning svg {
  fill: #fff;
}
md-input-container {
  padding: 2px 0 20px 10px;
}
.zone {
  padding-bottom: 20px;
}
/* Widgets */
h4 svg {
  margin-bottom: -0.3em;
}
button svg {
  margin-top: .5em;
}
md-fab-speed-dial {
  z-index: 100;
  margin-left: -10px;
}
.md-button.md-fab {
  line-height: 65px;
}
.md-toolbar-tools {
  color: #fff;
  fill: #fff;
}
.md-toolbar-tools ng-md-icon {
  margin: 0 .5em;
  padding: .2em;
  cursor: pointer;
}
